# Exercise 4

Update : 2018년 2월 10일(토), Kang Han.

* 조윤호 교수님 2018년 겨울방학 특강 내용 연습

M3_code_04-Copy1_20180110.pdf 참고.

In [1]:
import pandas as pd

In [2]:
import copy

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
%matplotlib inline

In [6]:
data = pd.read_csv('Allstate_train.csv')

아래는 과거의 Kaggle 데이터다. 필드가 많아 전처리를 연습하기 좋다.

Allstate Purchase Prediction Challenge (https://www.kaggle.com/c/allstate-purchase-prediction-challenge/data)

* 고객이 자동차 보험상품을 구매하기까지의 transaction 기록.
* 각 customer ID 별로 quote history 포함.
* 각 customer ID 별 마지막 행이 구매 포인트 (record_type=1)

In [8]:
data.head(10)

,customer_ID,shopping_pt,record_type,day,time,state,location,group_size,homeowner,car_age,...,C_previous,duration_previous,A,B,C,D,E,F,G,cost
0,10000000,1,0,0,08:35,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,2,633
1,10000000,2,0,0,08:38,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
2,10000000,3,0,0,08:38,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
3,10000000,4,0,0,08:39,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
4,10000000,5,0,0,11:55,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,630
5,10000000,6,0,0,11:57,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,638
6,10000000,7,0,0,11:58,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,638
7,10000000,8,0,0,12:03,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,638
8,10000000,9,1,0,12:07,IN,10001,2,0,2,...,1.0,2.0,1,0,2,2,1,2,1,634
9,10000005,1,0,3,08:56,NY,10006,1,0,10,...,3.0,13.0,1,1,3,3,1,0,2,755

In [9]:
dataP = data.loc[data.record_type==1].copy()

In [10]:
con = ['group_size', 'car_age', 'age_oldest', 'age_youngest', 'duration_previous', 'cost']

In [11]:
cat = ['homeowner', 'car_value', 'risk_factor', 'married_couple', 'C_previous', 'state', 'location', 'shopping_pt']

<font color = "#CC3D3D">
# EX-9: Handling Missing Values

##### Check missing values

다음 코드로 데이터를 확인해 보고 결측 값이 있음을 점검하자.

In [12]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97009 entries, 8 to 665248
Data columns (total 25 columns):
customer_ID          97009 non-null int64
shopping_pt          97009 non-null int64
record_type          97009 non-null int64
day                  97009 non-null int64
time                 97009 non-null object
state                97009 non-null object
location             97009 non-null int64
group_size           97009 non-null int64
homeowner            97009 non-null int64
car_age              97009 non-null int64
car_value            97009 non-null object
risk_factor          62663 non-null float64
age_oldest           97009 non-null int64
age_youngest         97009 non-null int64
married_couple       97009 non-null int64
C_previous           96173 non-null float64
duration_previous    96173 non-null float64
A                    97009 non-null int64
B                    97009 non-null int64
C                    97009 non-null int64
D                    97009 non-null int64
E                    97009 non-null int64
F                    97009 non-null int64
G                    97009 non-null int64
cost                 97009 non-null int64
dtypes: float64(3), int64(19), object(3)
memory usage: 19.2+ MB

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 665249 entries, 0 to 665248
Data columns (total 25 columns):
customer_ID          665249 non-null int64
shopping_pt          665249 non-null int64
record_type          665249 non-null int64
day                  665249 non-null int64
time                 665249 non-null object
state                665249 non-null object
location             665249 non-null int64
group_size           665249 non-null int64
homeowner            665249 non-null int64
car_age              665249 non-null int64
car_value            663718 non-null object
risk_factor          424831 non-null float64
age_oldest           665249 non-null int64
age_youngest         665249 non-null int64
married_couple       665249 non-null int64
C_previous           646538 non-null float64
duration_previous    646538 non-null float64
A                    665249 non-null int64
B                    665249 non-null int64
C                    665249 non-null int64
D                    665249 non-null int64
E                    665249 non-null int64
F                    665249 non-null int64
G                    665249 non-null int64
cost                 665249 non-null int64
dtypes: float64(3), int64(19), object(3)
memory usage: 126.9+ MB

아래의 조금 더 '고급스러운' 방법으로 결측 값을 점검하자.

In [14]:
dataP.isnull().sum()

customer_ID              0
shopping_pt              0
record_type              0
day                      0
time                     0
state                    0
location                 0
group_size               0
homeowner                0
car_age                  0
car_value                0
risk_factor          34346
age_oldest               0
age_youngest             0
married_couple           0
C_previous             836
duration_previous      836
A                        0
B                        0
C                        0
D                        0
E                        0
F                        0
G                        0
cost                     0
dtype: int64